mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color:  rgb(255,115,115);
    color:rgb(92,36,6);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
}

#logout {
    display: flex;
    align-items: center;
}

#logout i {
    margin-left: 10px;
}